@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #1f1f2c;
}

/* ================ Head section================== */
.head {
    width: 40%;
    text-align: center;
    margin-inline: auto;
    padding: 10px;

}

.head h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;

}

.head p {
    margin: 15px;
    color: gray;

}

/* ==============cards and card==================== */
.cards {
    width: 80%;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    justify-content: center;

}



.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
    overflow: hidden;
    transition: .3s;
}

/* ``````````````  IMAGEs `````````````````` */
figure {
    border-radius: 2%;
    width: 100%;
    overflow: hidden;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__info {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
}

.card__info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #636363;
}

a {
    text-decoration: none;
    color: #959595;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    gap: 5px;
    transition: .3s;
}

a i {
    font-size: 13px;
    font-weight: 400;
    display: block;
    transition: .3s;
}

a:hover i {
    margin-left: 5px;
}
a:hover {
    color: #c92f2f;
}
.card:hover h3 {
    color: #c92f2f;
}

/* ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬Footer¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ */

footer{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: red;
    padding: 10px;
    margin-top: 30px;
}