* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head {
    text-align: center;
    margin: 0 auto;
    padding: 10px;

}

.head h2 {
    font-size: 30px;
    margin: 10px;
}

.head p {
    margin: 15px;
    color: gray;

}

main .conteiner{
    display: flex;
} 



.card {
   
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 25px;
}

.card__info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

figure {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    width: 200px;
    overflow: hidden;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}